<h2>Login to an existing account</h2>
<form action="/auth/login" method="POST" class="text-white">
   <label> Email
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="passwordHash">
   </label>

   <button type="submit" class="btn btn-success">Submit</button>
</form>
<div class="text-white">
   {{#if errorMessage}}
      {{errorMessage}}
   {{/if}}
</div>