<h2>Register a new account</h2>
<form action="/auth/signup" method="POST" class="text-white">
   <label> Email
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="passwordHash">
   </label>

  <input type="radio" id="isAdmin-radio"  name="isAdmin" value="true">
  <label for="isAdmin">Admin?</label>

   <button type="submit">Submit</button>
</form>

<div class="text-white">
   {{#if errorMessage}}
      {{errorMessage}}
   {{/if}}
</div>