<form action="/auth/signup" method="POST">
   <label> Email
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="passwordHash">
   </label>

  <input type="radio" id="isAdmin-radio"  name="isAdmin" value="true">
  <label for="isAdmin">Admin?</label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}