<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="gradient">
  <header class="d-flex flex-row justify-content-between">
    {{!-- <nav>
      <a href="/" class="link-light text-decoration-none">Home</a> |
      <a href="/menu" class="link-light text-decoration-none">Menu</a> |

      {{#unless user}}
      <a href="/auth/login" class="link-light text-decoration-none">Login</a> |
      <a href="/auth/signup" class="link-light text-decoration-none">Sign up</a> |
      {{/unless}}

      {{#if user.isAdmin}}
      <a href="/create" class="link-light text-decoration-none">Create Item</a> |
      {{/if}}

      {{#if user}}
      <a href="/auth/logout" class="link-light text-decoration-none">Logout</a>
      {{/if}}
    </nav> --}}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    {{!-- <a class="navbar-brand" href="/">Home</a> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/menu">Menu</a>
        </li>
        {{#if user.isAdmin}}
          <li class="nav-item">
            <a class="nav-link active" href="/create">Create Item</a>
          </li>
        {{/if}}
        {{#unless user}}
          <li class="nav-item">
            <a class="nav-link active" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/auth/signup">Register</a>
          </li>
        {{/unless}}
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link active" href="/auth/logout">Logout</a>
          </li>
        {{/if}}
      </ul>

    </div>
  </div>
</nav>

    <div class="text-white">
      {{#if user}}
      <h6>Logged in as {{user.email}}</h6>


      {{#if user.isAdmin}}
      <h6>(Admin)</h6>
      {{/if}}

      {{#unless user.isAdmin}}
      (User)
      {{/unless}}
      {{/if}}


      {{#unless user}}
      Not logged in
      {{/unless}}
    </div>

  </header>

  {{{body}}}

  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>