body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.card-img-details {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
