<form action="/create" method="POST" enctype="multipart/form-data">
   <label> Title:
      <input type="text" name="title" required>
   </label>
   <label> Price:
      <input type="number" name="price"  min="0" step="any" required>
   </label>
   </label>
   <label> Category:
      <select name="category" required>
        <option value="starter">Starter</option>
        <option value="main">Main</option>
        <option value="dessert">Dessert</option>
        <option value="beverages">Beverages</option>
      </select>
   </label>
   <label> Description:
      <textarea name="description" cols="30" rows="4"> </textarea>
   </label>
   <label> Image:
      <input type="file" name="image_url" accept="image/png, image/jpeg" required/>
   </label>
   
   <button type="submit">Submit</button>
</form>